<a [routerLink]="['']"><button>Go to Home</button></a>
<a [routerLink]="['/about']"><button>Go to About</button></a>

<h1>Feed</h1>

<div>
    <ul>
        <li *ngFor="let post of posts">
            <p style="font-weight: bold; font-size: 24px;">Post title: {{ post.title }}</p>
            <p>Post body: {{ post.body }}</p>
            <p>Post likes: {{ post.likes}}</p>
            <button appHighlighter (click)="likePost(post.id)">Like</button>
            <p>Comments:</p>
            <ul>
                <li *ngFor="let comment of post.comments">
                    <p>Commentator: {{ comment.name }}</p>
                    <p>Comment text: {{ comment.text }}</p>
                    <p>Comment likes: {{ comment.likes }}</p>
                </li>
            </ul>
        </li>
    </ul>
</div>