<a [routerLink]="['']"><button>Go to Home</button></a>
<a [routerLink]="['/about']"><button>Go to About</button></a>

<h1>Feed</h1>

<!-- <form (submit)="submitPost()">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" id="title" name="title" [(ngModel)]="newPost.title" required>
    </div>
    <div class="form-group">
        <label for="body">Body</label>
        <textarea id="body" name="body" [(ngModel)]="newPost.body" required></textarea>
    </div>
    <button type="submit">Post</button>
</form> -->
  

<div>
    <ul>
        <li *ngFor="let post of posts">
            <p style="font-weight: bold; font-size: 24px;">Post title: {{ post.title }}</p>
            <p>Post body: {{ post.body }}</p>
            <p>Post likes: {{ post.likes}}</p>
            <button appHighlighter (click)="likePost(post.id)">Like</button>
            <p>Comments:</p>
            <ul>
                <li *ngFor="let comment of post.comments">
                    <p>Commentator: {{ comment.name }}</p>
                    <p>Comment text: {{ comment.text }}</p>
                    <p>Comment likes: {{ comment.likes }}</p>
                </li>
            </ul>
        </li>
    </ul>
</div>